<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
	<div class="container">
		<a class="navbar-brand" routerLink="/peliculas">Películas</a>
			<button class="navbar-toggler" type="button" (click)="toggle()" aria-controls="navbarsExample" [attr.aria-expanded]="open()" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			<div class="navbar-collapse" id="navbarsExample" [class.collapse]="!open()" [class.show]="open()">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" routerLink="/adivino" routerLinkActive="active">Adivino tu película</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/hoja-de-vida" routerLinkActive="active">Hoja de vida</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
